<!DOCTYPE html>
<html>
<head><title>Register</title></head>
<body>
    <h2>Register</h2>
    <form method="POST" enctype="multipart/form-data">
        <input name="firstname" placeholder="First Name"><br>
        <input name="middlename" placeholder="Middle Name"><br>
        <input name="lastname" placeholder="Last Name"><br>
        <input name="email" type="email" placeholder="Email"><br>
        <input name="phone" placeholder="Phone Number"><br>
        <input name="username" placeholder="Username"><br>
        <input name="password" type="password" placeholder="Password"><br>
        <label>Profile Picture: <input type="file" name="profile"></label><br>
        <label>ID Front: <input type="file" name="idfront"></label><br>
        <label>ID Back: <input type="file" name="idback"></label><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>
